# Python Tuple Practice Notebook
10 tuple questions with solutions and dry runs.

## 1. Swap two elements in a tuple at given positions

t = (10, 20, 30, 40)  
i = 1, j = 3
| Step | Operation                                   | Result                    |
| ---- | ------------------------------------------- | ------------------------- |
| 1    | Convert tuple to list: `temp = list(t)`     | `temp = [10, 20, 30, 40]` |
| 2    | Access positions: `temp[i] = temp[1] = 20`  | —                         |
| 3    | Access positions: `temp[j] = temp[3] = 40`  | —                         |
| 4    | Swap: `temp[i], temp[j] = temp[j], temp[i]` | `temp = [10, 40, 30, 20]` |
| 5    | Convert back to tuple                       | `(10, 40, 30, 20)`        |

In [25]:
def swap_tupe(t, i, j):
    temp = list(t)
    temp[i], temp[j] = temp[j],temp[i] #temp[1] =20, temp[3] =40
    return tuple(temp)
swap_tupe((10, 20, 30, 40), 1, 3)

(10, 40, 30, 20)

## 2. Convert list of tuples to dictionary

lst = [(1, 'a'), (2, 'b')]

d = {} (empty dictionary)

| Step  | Tuple from `lst` | key | value | Operation Executed              | Dictionary `d` After Operation |
| ----- | ---------------- | --- | ----- | ------------------------------- | ------------------------------ |
| Start | —                | —   | —     | —                               | `{}`                           |
| 1     | `(1, 'a')`       | `1` | `'a'` | `d[key] = value` → `d[1] = 'a'` | `{1: 'a'}`                     |
| 2     | `(2, 'b')`       | `2` | `'b'` | `d[key] = value` → `d[2] = 'b'` | `{1: 'a', 2: 'b'}`             |
| End   | —                | —   | —     | —                               | Final: `{1: 'a', 2: 'b'}`      |

In [26]:
def list_tuple_to_dict(lst):
    d = {}
    for key, value in lst:
        d[key] = value
    return d
print(list_tuple_to_dict([(1, 'a'), (2, 'b')]))

{1: 'a', 2: 'b'}

## 3. Sort list of tuples by second element

| Step | Element (`x`) | `x[1]` (second value) | Sorting Key    | Notes                                  |
| ---- | ------------- | --------------------- | -------------- | -------------------------------------- |
| 1    | `(1,3)`       | `3`                   | key = 3        | Second element is 3                    |
| 2    | `(2,1)`       | `1`                   | key = 1        | Second element is 1                    |
| 3    | `(5,2)`       | `2`                   | key = 2        | Second element is 2                    |
| 4    | Sort by keys  | 1, 2, 3               | Order becomes: | Python sorts by key in ascending order |

Sorted Order Based on Second Value

| Key Order | Tuple   |
| --------- | ------- |
| 1         | `(2,1)` |
| 2         | `(5,2)` |
| 3         | `(1,3)` |

In [27]:
def sort_by_second(lst):
    return sorted(lst, key = lambda x: x[1])

print(sort_by_second([(1,3),(2,1),(5,2)]))

[(2, 1), (5, 2), (1, 3)]

## 4. Find most frequent tuple in list

| Step | Code Line                           | Internal Value         | Explanation                                        |
| ---- | ----------------------------------- | ---------------------- | -------------------------------------------------- |
| 1    | `Counter(lst)`                      | `{(1,2): 2, (3,4): 1}` | Counts how many times each tuple appears           |
| 2    | `.most_common(1)`                   | `[((1,2), 2)]`         | Returns a **list** with the most frequent item     |
| 3    | `box = Counter(lst).most_common(1)` | `box = [((1,2), 2)]`   | Stores that list in variable `box`                 |
| 4    | `item = box[0]`                     | `item = ((1,2), 2)`    | Extract the first (and only) element from the list |
| 5    | `return item`                       | `((1,2), 2)`           | Return the tuple + frequency                       |

In [29]:
from collections import Counter
def most_frequent_tuple(lst):
    box = Counter(lst).most_common(1) # box = [(1,2), 2]
    item = box[0] # take the item from box
    return item
print(most_frequent_tuple([(1,2),(3,4),(1,2)]))

((1, 2), 2)

## 5. Flatten tuple of tuples

| Step | Outer Loop (x) | Inner Loop (y) | Action   | out           |
| ---- | -------------- | -------------- | -------- | ------------- |
| 1    | x = (1,2)      | y = 1          | append 1 | [1]           |
| 2    | x = (1,2)      | y = 2          | append 2 | [1,2]         |
| 3    | x = (3,4)      | y = 3          | append 3 | [1,2,3]       |
| 4    | x = (3,4)      | y = 4          | append 4 | [1,2,3,4]     |
| 5    | x = (5,6)      | y = 5          | append 5 | [1,2,3,4,5]   |
| 6    | x = (5,6)      | y = 6          | append 6 | [1,2,3,4,5,6] |

In [31]:
def flatten(t):
    out = []
    for x in t: #x=(1,2)
        for y in x:# y=1, y=2
            out.append(y) #1
    return tuple(out)        
    
flatten(((1,2),(3,4),(5,6)))

(1, 2, 3, 4, 5, 6)

## 6. Convert string→tuple without tuple()

| Step | Operation                                | Result                      |
| ---- | ---------------------------------------- | --------------------------- |
| 1    | Start with empty list: `temp = []`       | `[]`                        |
| 2    | Loop ch = `'h'` → append                 | `['h']`                     |
| 3    | ch = `'e'` → append                      | `['h', 'e']`                |
| 4    | ch = `'l'` → append                      | `['h', 'e', 'l']`           |
| 5    | ch = `'l'` → append                      | `['h', 'e', 'l', 'l']`      |
| 6    | ch = `'o'` → append                      | `['h', 'e', 'l', 'l', 'o']` |
| 7    | Return tuple using unpacking: `(*temp,)` | `('h','e','l','l','o')`     |

In [37]:
def string_to_tuple(s):
    temp = []
    for ch in s: # ch ='h', ch='e'
        temp.append(ch) #'h','e'
    return (*temp,)    

string_to_tuple("hello")

('h', 'e', 'l', 'l', 'o')

## 7. Replace element in tuple

| Step | Operation                                 | Result              |
| ---- | ----------------------------------------- | ------------------- |
| 1    | Convert tuple to list: `temp = list(t)`   | `temp = [1, 2, 3]`  |
| 2    | Replace value at index 1: `temp[1] = 99`  | `temp = [1, 99, 3]` |
| 3    | Convert list back to tuple: `tuple(temp)` | `(1, 99, 3)`        |

In [39]:
def replace_tuple(t, idex, val):
    temp = list(t)
    temp[idex] = val 
    return tuple(temp)
replace_tuple((1,2,3), 1, 99)

(1, 99, 3)

## 8. Reverse tuple without slicing

| Step   | i value | t[i] | out (after append)              |
| ------ | ------- | ---- | ------------------------------- |
| Start  | —       | —    | []                              |
| Loop 1 | 3       | 4    | [4]                             |
| Loop 2 | 2       | 3    | [4, 3]                          |
| Loop 3 | 1       | 2    | [4, 3, 2]                       |
| Loop 4 | 0       | 1    | [4, 3, 2, 1]                    |
| End    | —       | —    | Convert to tuple → (4, 3, 2, 1) |

In [41]:

def reverse_manual(t):
    out = []
    for i in range(len(t)-1, -1,-1): #3-1,-1,-1 => 3,-1,-1 => range(start,stop,step)
        out.append(t[i]) #4, 3,2,1
    return tuple(out)    
reverse_manual((1,2,3,4))

(4, 3, 2, 1)

## 9. Merge two tuples without +

| Step | Expression                      | Explanation                                  | Result       |
| ---- | ------------------------------- | -------------------------------------------- | ------------ |
| 1    | Call `merge_tuple((1,2),(3,4))` | Function is called with a=(1,2) and b=(3,4)  | —            |
| 2    | `*a`                            | Unpacks tuple a                              | 1, 2         |
| 3    | `*b`                            | Unpacks tuple b                              | 3, 4         |
| 4    | `(*a, *b)`                      | Creates a new tuple with all unpacked values | (1, 2, 3, 4) |
| 5    | return                          | Function returns merged tuple                | (1, 2, 3, 4) |
| 6    | print(...)                      | Final result printed                         | (1, 2, 3, 4) |

In [43]:
def merge_tuple(a, b):
    return(*a, *b)
print(merge_tuple((1,2), (3,4)))

(1, 2, 3, 4)

## 10. Tuple → dict (index:value)

| Step | i | t[i] | Dictionary Entry Added | Current Result           |
| ---- | - | ---- | ---------------------- | ------------------------ |
| 1    | 0 | 'a'  | 0 : 'a'                | {0: 'a'}                 |
| 2    | 1 | 'b'  | 1 : 'b'                | {0: 'a', 1: 'b'}         |
| 3    | 2 | 'c'  | 2 : 'c'                | {0: 'a', 1: 'b', 2: 'c'} |

In [45]:
def tuple_to_dict(t):
    return {i: t[i] for i in range(len(t))} #i= range(3)=0,1,2

tuple_to_dict(('a','b','c'))

{0: 'a', 1: 'b', 2: 'c'}