### Sort list of dicts by a key using lambda

| Step | Item                    | `lambda x: x["age"]` returns | Sorting Order    |
| ---- | ----------------------- | ---------------------------- | ---------------- |
| 1    | `{"name":"A","age":25}` | 25                           | Middle           |
| 2    | `{"name":"B","age":20}` | 20                           | Smallest (first) |
| 3    | `{"name":"C","age":30}` | 30                           | Largest (last)   |

Sorting by ages: 20 < 25 < 30

In [10]:

data = [{"name":"A","age":25},{"name":"B","age":20},{"name":"C","age":30}]
sorted_data = sorted(data, key = lambda x: x["age"])

sorted_data

[{'name': 'B', 'age': 20}, {'name': 'A', 'age': 25}, {'name': 'C', 'age': 30}]

### Filter odd numbers using lambda + filter

| x (each element) | x % 2 != 0      | Keep it? | Result list so far |
| ---------------- | --------------- | -------- | ------------------ |
| 1                | 1%2 = 1 → True  | Yes      | [1]                |
| 2                | 2%2 = 0 → False | No       | [1]                |
| 3                | 3%2 = 1 → True  | Yes      | [1, 3]             |
| 4                | 4%2 = 0 → False | No       | [1, 3]             |
| 5                | 5%2 = 1 → True  | Yes      | [1, 3, 5]          |
| 6                | 6%2 = 0 → False | No       | [1, 3, 5]          |
| 7                | 7%2 = 1 → True  | Yes      | [1, 3, 5, 7]       |

In [11]:
nums = [1,2,3,4,5,6,7]
list(filter(lambda x: x%2 != 0, nums))

[1, 3, 5, 7]

### Multiply list using lambda + reduce

| Step  | a (left) | b (right) | a*b | New accumulated value |
| ----- | -------- | --------- | --- | --------------------- |
| Start | 2        | 3         | 6   | 6                     |
| Next  | 6        | 4         | 24  | 24                    |

In [12]:
from functools import reduce
nums = [2,3,4]
reduce(lambda a,b : a*b, nums)

24

### Check palindrome with lambda

| Step | Expression             | Result                          |
| ---- | ---------------------- | ------------------------------- |
| 1    | Input string `s`       | `"madam"`                       |
| 2    | Reverse `s[::-1]`      | `"madam"`                       |
| 3    | Compare `s == s[::-1]` | `"madam" == "madam"` → **True** |
| 4    | Return value           | **True**                        |

In [13]:

is_palindrome = lambda s: s == s[::-1]
is_palindrome("madam")

True

### Sort strings by length using lambda

| Word (`x`) | `len(x)` | Sorting Order |
| ---------- | -------- | ------------- |
| "apple"    | 5        | 3rd           |
| "hi"       | 2        | 1st           |
| "banana"   | 6        | 4th           |
| "cat"      | 3        | 2nd           |

In [14]:

words = ["apple","hi","banana","cat"]
sorted(words, key = lambda x:len(x))

['hi', 'cat', 'apple', 'banana']

### Celsius to Fahrenheit using map + lambda

| Celsius (`x`) | Formula `(x*9/5)+32` | Fahrenheit |
| ------------- | -------------------- | ---------- |
| 0             | (0×9/5)+32 = 32      | 32         |
| 10            | (10×9/5)+32 = 50     | 50         |
| 20            | (20×9/5)+32 = 68     | 68         |
| 30            | (30×9/5)+32 = 86     | 86         |

In [15]:

c = [0,10,20,30]
list(map(lambda x: (x*9/5)+32, c))

[32.0, 50.0, 68.0, 86.0]

### Extract last character using lambda

| Word (`x`) | `x[-1]` (last character) | Output List So Far |
| ---------- | ------------------------ | ------------------ |
| "apple"    | "e"                      | ["e"]              |
| "hello"    | "o"                      | ["e", "o"]         |
| "bye"      | "e"                      | ["e", "o", "e"]    |

In [17]:
words = ["apple","hello","bye"]
list(map(lambda x: x[-1], words))

['e', 'o', 'e']

### Remove empty strings using lambda

| Item (`x`) | Condition `x != ""` | Keep or Remove? | Output List So Far        |
| ---------- | ------------------- | --------------- | ------------------------- |
| "hi"       | True                | Keep            | ["hi"]                    |
| ""         | False               | Remove          | ["hi"]                    |
| "hello"    | True                | Keep            | ["hi", "hello"]           |
| ""         | False               | Remove          | ["hi", "hello"]           |
| "python"   | True                | Keep            | ["hi", "hello", "python"] |

In [19]:

items = ["hi","","hello","","python"]
list(filter(lambda x: x!="", items))

['hi', 'hello', 'python']

### Sort list of tuples by second element

| Tuple `x` | `x[1]` (Key Value) | Notes               |
| --------- | ------------------ | ------------------- |
| (1, 3)    | 3                  | second element is 3 |
| (2, 1)    | 1                  | second element is 1 |
| (5, 0)    | 0                  | second element is 0 |

In [20]:

t = [(1,3),(2,1),(5,0)]
sorted(t, key = lambda x :x[1])

[(5, 0), (2, 1), (1, 3)]

### Compute square using lambda

| Step | Value of `x` | Computation `x*x` | Result List So Far |
| ---- | ------------ | ----------------- | ------------------ |
| 1    | 1            | 1×1 = 1           | [1]                |
| 2    | 2            | 2×2 = 4           | [1, 4]             |
| 3    | 3            | 3×3 = 9           | [1, 4, 9]          |
| 4    | 4            | 4×4 = 16          | [1, 4, 9, 16]      |

In [22]:

nums = [1,2,3,4]
list(map(lambda x : x*x, nums))

[1, 4, 9, 16]