### Convert list of strings to integers using map

| Element (String) | Apply `int()` | Result (Integer) |
| ---------------- | ------------- | ---------------- |
| `"1"`            | int("1")      | 1                |
| `"2"`            | int("2")      | 2                |
| `"3"`            | int("3")      | 3                |
| `"10"`           | int("10")     | 10               |

In [2]:

data = ["1","2","3","10"]
list(map(int, data))

[1, 2, 3, 10]

### Get names starting with a vowel using filter

| Name  (x)      | First Letter x[0] | Is First Letter in Vowels? | Keep?    |
| ----------- | ------------ | -------------------------- | -------- |
| `"alice"`   | a            | ✔️ Yes                     | ✅ Keep   |
| `"bob"`     | b            | ❌ No                       | ❌ Remove |
| `"eve"`     | e            | ✔️ Yes                     | ✅ Keep   |
| `"oliver"`  | o            | ✔️ Yes                     | ✅ Keep   |
| `"uma"`     | u            | ✔️ Yes                     | ✅ Keep   |
| `"charlie"` | c            | ❌ No                       | ❌ Remove |

In [3]:

names = ["alice","bob","eve","oliver","uma","charlie"]
vowels = set("aeiouAEIOU")
list(filter(lambda x : x[0] in vowels, names))

['alice', 'eve', 'oliver', 'uma']

### Find max using reduce

| Step | a (current result) | b (next element) | Comparison (a > b?) | Output (bigger one) |
| ---- | ------------------ | ---------------- | ------------------- | ------------------- |
| 1    | 3                  | 10               | 3 > 10? ❌           | **10**              |
| 2    | 10                 | 6                | 10 > 6? ✔️          | **10**              |
| 3    | 10                 | 8                | 10 > 8? ✔️          | **10**              |
| 4    | 10                 | 2                | 10 > 2? ✔️          | **10**              |

In [ ]:

from functools import reduce
nums = [3,10,6,8,2]
reduce(lambda a, b: a if a>b else b, nums)

10

### Square each number using map

| Step | Current Element (x) | Lambda Calculation (x*x) | Output List So Far |
| ---- | ------------------- | ------------------------ | ------------------ |
| 1    | 1                   | 1×1 = **1**              | [1]                |
| 2    | 2                   | 2×2 = **4**              | [1, 4]             |
| 3    | 3                   | 3×3 = **9**              | [1, 4, 9]          |
| 4    | 4                   | 4×4 = **16**             | [1, 4, 9, 16]      |

In [5]:
nums = [1,2,3,4]
list(map(lambda x :x*x, nums))

[1, 4, 9, 16]

### Combine map-filter-reduce: even → square → sum

Step 1: Filter even numbers 
| Original `nums` | Condition `x%2==0` | Keep? | Resulting `evens` |
| --------------- | ------------------ | ----- | ----------------- |
| 1               | 1%2==0 → False     | No    | -                 |
| 2               | 2%2==0 → True      | Yes   | 2                 |
| 3               | 3%2==0 → False     | No    | -                 |
| 4               | 4%2==0 → True      | Yes   | 4                 |
| 5               | 5%2==0 → False     | No    | -                 |
| 6               | 6%2==0 → True      | Yes   | 6                 |

✅ evens = [2, 4, 6]

Step 2: Map to squares  
| `x` from `evens` | `x*x` | Resulting `squares` |
| ---------------- | ----- | ------------------- |
| 2                | 4     | 4                   |
| 4                | 16    | 16                  |
| 6                | 36    | 36                  |

 ✅ squares = [4, 16, 36]

Step 3: Reduce (sum of squares)

| Step | `a` | `b` | `a+b` | Result |
| ---- | --- | --- | ----- | ------ |
| 1    | 4   | 16  | 20    | 20     |
| 2    | 20  | 36  | 56    | 56     |

✅ Final Result: 56

In [11]:

from functools import reduce
nums = [1,2,3,4,5,6]
evens = filter(lambda x: x%2==0, nums)
squares = map(lambda x : x*x, evens)
reduce(lambda a,b : a+b , squares)

56

### Convert list of float strings to float using map

| Input String | float(x) | Output |
| ------------ | -------- | ------ |
| "1.5"        | 1.5      | 1.5    |
| "3.14"       | 3.14     | 3.14   |
| "2.0"        | 2.0      | 2.0    |
| "10.01"      | 10.01    | 10.01  |

In [12]:

values = ["1.5","3.14","2.0","10.01"]
list(map(float, values))

[1.5, 3.14, 2.0, 10.01]

### Filter prime numbers using filter

# Dry Run Table

n  | is_prime(n)? | Reason
---|-------------|-----------------
2  | True        | 2 >= 2, loop range empty → prime
3  | True        | 3 >= 2, loop range empty → prime
4  | False       | 4 % 2 == 0 → not prime
5  | True        | 5 % 2 != 0 → prime
6  | False       | 6 % 2 == 0 → not prime
7  | True        | 7 % 2 != 0 → prime
8  | False       | 8 % 2 == 0 → not prime
9  | False       | 9 % 2 == 0? No, check 3 → 9 % 3 == 0 → not prime
11 | True        | 11 % 2 != 0, 11 % 3 != 0 → prime

# Final Result
result = [2, 3, 5, 7, 11]

| n  | sqrt(n) | int(sqrt(n))+1 | i in range | n % i      | Divisible? | Action / Return                 |
| -- | ------- | -------------- | ---------- | ---------- | ---------- | ------------------------------- |
| 6  | 2.449   | 3              | 2          | 6 % 2 = 0  | Yes        | Return False → not prime        |
| 7  | 2.645   | 3              | 2          | 7 % 2 = 1  | No         | Continue loop                   |
|    |         |                | -          | -          | -          | Loop ends → Return True → prime |
| 8  | 2.828   | 3              | 2          | 8 % 2 = 0  | Yes        | Return False → not prime        |
| 9  | 3       | 4              | 2          | 9 % 2 = 1  | No         | Continue loop                   |
|    |         |                | 3          | 9 % 3 = 0  | Yes        | Return False → not prime        |
| 11 | 3.317   | 4              | 2          | 11 % 2 = 1 | No         | Continue loop                   |
|    |         |                | 3          | 11 % 3 = 2 | No         | Continue loop                   |
|    |         |                | -          | -          | -          | Loop ends → Return True → prime |

In [13]:

def is_prime(n):
    if n<2: return False
    for i in range(2, int(n**0.5)+1): #2,4=>i=2,3
        if n % i == 0:
            return False
    return True

nums = [6,7,8,9,11]
list(filter(is_prime, nums))

[7, 11]

### Reduce to compute product of list

# Code
from functools import reduce
nums = [2, 3, 4]
result = reduce(lambda a,b: a*b, nums)

# Dry Run Table

Step | a (accumulator) | b (current) | a*b | Result so far
---- | --------------- | ----------- | --- | -------------
1    | 2               | 3           | 6   | 6
2    | 6               | 4           | 24  | 24

# Final Result
result = 24

In [15]:

from functools import reduce
nums = [2,3,4]
reduce(lambda a,b : a*b, nums)

24

### Map: extract first letter of each word

| Step | Current `x` | Expression `x[0]` | Added to Result | Result So Far        |
| ---- | ----------- | ----------------- | --------------- | -------------------- |
| 1    | "apple"     | 'a'               | Yes             | ['a']                |
| 2    | "banana"    | 'b'               | Yes             | ['a', 'b']           |
| 3    | "cat"       | 'c'               | Yes             | ['a', 'b', 'c']      |
| 4    | "dog"       | 'd'               | Yes             | ['a', 'b', 'c', 'd'] |

In [16]:

words = ["apple","banana","cat","dog"]
list(map(lambda x: x[0], words))

['a', 'b', 'c', 'd']

### Filter: remove negative numbers from list

| Step | Current `x` | Condition `x >= 0` | Included in Result? | Result So Far |
| ---- | ----------- | ------------------ | ------------------- | ------------- |
| 1    | -5          | False              | No                  | []            |
| 2    | 3           | True               | Yes                 | [3]           |
| 3    | -2          | False              | No                  | [3]           |
| 4    | 10          | True               | Yes                 | [3, 10]       |
| 5    | 0           | True               | Yes                 | [3, 10, 0]    |
| 6    | -1          | False              | No                  | [3, 10, 0]    |
| 7    | 8           | True               | Yes                 | [3, 10, 0, 8] |

In [17]:

nums = [-5,3,-2,10,0,-1,8]
list(filter(lambda x: x>0, nums))

[3, 10, 8]